<div class="container">

  <div class="row my-5">
    <div class="col-md-3"></div>
    <div class="col-12 col-md-3 my-3 card-container cursor-pointer" (click)="goToUpload()">
      <div class="card h-100 image-card" >
        <img class="card-img-top" src="assets/upload.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">Upload de Arquivos</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-3 my-3 card-container cursor-pointer" (click)="goToAccount()">
      <div class="card h-100" >
        <img class="card-img-top image-card" src="assets/mov.png" alt="Card image cap">
        <div class="card-body">
          <p class="card-text text-center">Movimentações financeiras</p>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
  
</div>
