<nav class="navbar navbar-expand-lg  bg-white border-bottom shadow-sm">
  <a class="navbar-brand" [routerLink]="'/home'">
    Xayah 
  </a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/upload'" (click)="isMenuCollapsed = true">Upload</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/account'" (click)="isMenuCollapsed = true">Movimentações</a>
      </li>
    </ul>
  </div>
</nav>